.main{
    background-color: white;
    
}
.heading1{
    background-color: blue;
}
.heading{
    background-color: blue;
}
.tim{
    background-color: green;
}
.div1{
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
}

